UDP_BIND=0.0.0.0:8778
WEB_HOST=0.0.0.0
WEB_PORT=8779
STATE_DIR=run/clientindicatorsrv
JSON_PATH=run/clientindicatorsrv/users.json
TOKEN_PATH=run/clientindicatorsrv/shared-token.txt
TLS_CERT_FILE=run/clientindicatorsrv/tls/cert.pem
TLS_KEY_FILE=run/clientindicatorsrv/tls/key.pem
PUBLIC_HOST=150.241.70.188
BC_CLIENT_INDICATOR_SHARED_TOKEN=
BC_CLIENT_INDICATOR_SECRET_KEY=
